<!DOCTYPE html>
<html data-ng-app="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>`</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="container" data-ng-init="customers=[{name:'John Cago',city:'Berlin'}, {name:'John Smit',city:'Yerevan'}, {name:'Jok Soooit',city:'Rio'}]"}>

		Name : <br>
		<input type="text" data-ng-model="name" /> {{name}}
		<br>
<ul>
	<li data-ng-repeat="cust in customers | filter:name">{{cust.name}} -- {{cust.city}}</li>
</ul>
	</div>
	
	<script src="js/angular.js"></script>
</body>
</html>

<!-- https://www.youtube.com/watch?v=i9MHigUZKEM&list=PLiBLzyAAV4kOnmuiVeXRpt3IytMpODi-t -->